body {
    font-family: 'Roboto', sans-serif;
    z-index: 1;
    background-color: white;
    position: relative;
    overflow-x: hidden;
}

.h1 {
    font-weight: bold!important;
    font-size: 50px!important;
    margin-bottom: 50px!important;
}

.title {
    font-weight: bold!important;
    font-size: 50px!important;
}

#navbar {
    background: rgba(76, 175, 80, 0)!important;
    color: white;
    position: fixed;
    z-index: 1;
    width: 100%;
    height: 12.5vh;
}

.navbar-collapse {
    margin: 5px 20px;
}

.navbar-collapse ul li a{
    color: white!important;
    font-weight: bold;
}

.container-fluid img {
    margin: 5px 20px;
}

.title {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 60px;
}

#headerText p {
    font-weight: bold;
    font-size: 20px;
}

#header {
    margin-left: 0;
    margin-right: 0;
    height: 100vh;
    background-image: url("./images/pexels-splash-of-rain-7321.jpg");
    text-align: center;
    color: white;
    background-size: cover;
    background-position: center;
    z-index: -1;
    

}

#headerText {
    position: absolute;
    top: 35vh;
    left: 50%;
    transform: translate(-50%,-50%);
    height: 30vh;
    z-index: 0;
    color: white;
    text-align: center;
}

#contact1, #features, #section1, #section2, #section3, #cta, #footer {
    position: relative;
    background-color: white;
}

#contact1 {
    text-align: center;
    padding: 100px;
    
}

#contact1 input{
    height: 50px;
    margin: 20px 5px 20px 150px;
}

#contact1 button{
    height: 50px;
    width: 100px;
    margin: 20px 10px 20px 5px;
}

#features {
    background-color: #F8F9FA;
    text-align: center;
    padding: 100px 175px;
}

#features i {
    color: #0d6efd;
    font-size: 80px;
}

.featureCard {
    height: 60vh;
    width: 22.5vw!important;
    background-color: white;
    margin: 20px;
    padding: 50px 50px!important;
    border-radius: 25px;
}

.featureCard h3{
    margin-top: 50px;
    font-weight: bold;
}

#featuresTitle {
    margin-bottom: 50px;
}

#section1 {
    text-align: center;
    border-radius: 50px;
    color: white;
    padding: 100px;
    height: 100vh;
    background-image: url(images/thumb-1920-836705.jpg);
    background-size: cover;

}

#section1 p, #section2 p, #section3 p {
    margin: auto;
    width: 600px;
}

#section1 h1, #section2 h1, #section3 h1 {
    font-size: 70px!important;
}

#section2 {
    text-align: center;
    padding: 100px;
    height: 60vh;
}

#section3 {
    color: white;
    background-image:url(images/space-wallpaper-hd-hd-space-wallpapers-1873953119.jpg);
    background-size: cover;
    text-align: center;
    padding: 100px;
    height: 60vh;

}

#cta {
    text-align: center;
    padding: 100px;
    height: 60vh;
}

.btn2 {
    margin-top: 20px;
    background: linear-gradient(to right, #D900FF 0%, #FF8400 50%, #fff300 100%);
    border: none!important;
    border-radius: 25px!important;
    padding: 15px!important;
    font-weight: bold!important;
}

#footer {
    background-color: #080708;
    color: white;
    padding-bottom: 20px;
    
}

#footer a{
    background-color: #080708;
    color: white;
    text-decoration: none;
}

#footer a:hover{
    text-decoration: underline;
}

#footer ul{
    background-color: #080708;
    color: white;
    padding-left: 0;
}

.footerA {
    margin: 10px 10px;
}

.footerLogo {
    font-size: 50px;
    font-weight: 600;
    margin: 100px 0 20px 0;
    color: white;
}

#image {
    height: 100vh;
    width: 100vw;
    background-image: url("./images/image.png");
    background-size: cover;
    background-position: center;
    position: absolute;
    top: 0;
    z-index: 1;
}

#nav.black nav{
    background-color: black!important;
    transition: 0.5s;
}

#nav.black nav ul li a{
    color: white;
}